* {
	padding: 0;
	margin: 0;
}

header {
	height: 20vh;
	width: 100%;
	background-image: url(assets/bgbase.jpg);
}

header > div {
	height: 100%;
	width: 100%;
	background-image: url(assets/vague.svg);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	align-items: end;
	justify-items: center;
}

header > div > div {
	height: 50%;
	aspect-ratio: 1/1;
	border-radius: 15px;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

header > div > div:nth-child(1) {
	background-image: url(assets/paindepice.png);
}
